{% extends "base.html" %}

{% block content %}

<div class="card">

    <h1>
        Назначить ментора
    </h1>

    <h2>
        {{ team.team_name }}
    </h2>

    <form method="post">

        {% csrf_token %}

        <label>
            Выберите ментора
        </label>

        <select name="mentor_id" required>

            {% for mentor in mentors %}

                <option value="{{ mentor.id }}">
                    {{ mentor.full_name }}
                    ({{ mentor.email }})
                </option>

            {% endfor %}

        </select>

        <button class="btn" type="submit">

            Назначить

        </button>

    </form>

</div>

{% endblock %}