{% extends "base.html" %}

{% block content %}
<h1>Кабинет жюри</h1>

<h2>Проекты на оценивание</h2>

{% for project in projects %}
    <div class="card">
        <h3>{{ project.title }}</h3>

        <p><b>Команда:</b> {{ project.team.team_name }}</p>
        <p><b>Хакатон:</b> {{ project.team.hackathon.title }}</p>

        <a class="btn" href="{% url 'score_project' project.id %}">
            Оценить проект
        </a>
    </div>
{% empty %}
    <p>Сейчас нет проектов для оценивания.</p>
{% endfor %}

<h2>Ваши хакатоны</h2>

{% for judge in judge_records %}
    <div class="card">
        <h3>{{ judge.hackathon.title }}</h3>
        <p>Статус: {{ judge.hackathon.status }}</p>
    </div>
{% empty %}
    <p>Вы пока не назначены жюри.</p>
{% endfor %}



{% endblock %}