{% extends "base.html" %}

{% block content %}
<h1>Регистрация</h1>

<form method="post" class="form">
    {% csrf_token %}

    <label>Email</label>
    <input type="email" name="email" required>

    <label>Имя пользователя</label>
    <input type="text" name="username" required>

    <label>Полное имя</label>
    <input type="text" name="full_name" required>

    <label>Университет</label>
    <select name="university" required>
        <option value="">Выберите университет</option>
        {% for university in universities %}
            <option value="{{ university.id }}">
                {{ university.name }}
            </option>
        {% endfor %}
    </select>

    <label>Пароль</label>
    <input type="password" name="password" required>

    <label>Роль</label>
    <select name="role" required>
        <option value="participant">Участник</option>
        <option value="mentor">Ментор</option>
    </select>

    <label>
        <input type="checkbox" name="is_open_for_teaming">
        Я согласен на случайный подбор в команду
    </label>

    <button class="btn" type="submit">
        Зарегистрироваться
    </button>
</form>
{% endblock %}